# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\hieu\Java project\16. IO Text File\[Thuc hanh] Tim gia tri lon nhat va ghi ra file\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
